 .main__section-details {
     padding-left: 100px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     
   
 }

.main__section-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


  
}