 .main__section-details {
     padding-left: 10rem;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     
   
 }

.main__section-features {
    padding: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


  
}