.composition {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__photo {
        width: 40%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        // position: absolute;

        // &--p1 {
        //     left: 0;
        //     top: -2rem;
        // }

        // &--p2 {
        //     left: 0;
        //     top: 22rem;
        // }

        // &--p3 {
        //     left: 20%;
        //     top: 10rem;
        // }
    }
}